.page{
    width: 100%;
    min-width: 400px;
    height: inherit;
    padding-top: 16px;
    background: linear-gradient(
    to top,
    white 0%,
    white 60%,
    #7976FF 40%,
    #7976FF 100%
  );
}

.container{
    background-color: #bababa;
    max-width: 633px;
    min-width: 400px;
    border-radius: 15px 15px 0px 0px;
   height: 700px;

position: relative;
}

.monthContainer{
background-color: white;
border-radius: 10px;
}
.dailyContainer{
    
    background-color: #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            transition-property: opacity;
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;
}
.currentMonthContainer{
    background-color: #B6b5ed;
    border-radius: 10px;
    border:1px solid black
    }

    .smallButtonStyle{
        transform: translateY(120%);
        transition: all 0.2s ease-out;
        /* position: absolute; */
        
        
    }
    .smallButtonStyle2{
        transform: translateY(220%);
        transition: all 0.3s ease-out;
        /* position: absolute; */
        
        
    }
   .transition1{
    position: none;
    transition: all 0.2s ease-in-out;
    transform: translateY(-20%);
   }
   
   .transition2{
    position: none;
    transition: all 0.3s ease-in-out;
    transform: translateY(-30%);
   }

   .pickerInput {
  background-color: white;
  border-radius: 6px;
height:45px;
text-align: center;
border: 1px solid #dee2e6 ;
width: 373px;
  }

  .bottomSheet{
    background-color: #FFFF;
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 633px;
    min-width: 400px;
    border: 1px solid #bababa;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.popper{
  inset: "0px auto auto 60px";
}